<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=4ed09655-ce96-49f2-9d15-a71201460c4c.sqlserver.sequelizer.com;Database=db4ed09655ce9649f29d15a71201460c4c;User ID=hsoyoycpnerrnguo;Password=cfawgkZKgsGhzyHCJMpmcwKauTsxdzL8X6o8wxrg26Ypy6jhHmf2aLGMC8bu2BFP;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
