@helper ShowTree(IList<Domain.Entities.Organization> organizations, IList<Domain.Entities.UserPermission> userPermissions)
{
    <ul class="list">
        @foreach (var organization in organizations)
        {
            <li>
                @if (userPermissions.FirstOrDefault(m => m.OrganizationId == organization.Id) != null)
                {

                    if (userPermissions.FirstOrDefault(m => m.OrganizationId == organization.Id && (m.PermissionType & Domain.Entities.PermissionType.AdminGlobal) == Domain.Entities.PermissionType.AdminGlobal) != null)
                    {
                        <input type="checkbox" name="SendingGlobalIds" value="@organization.Id" class="SendingGlobalIdsTree" />
                    }
                    else
                    {
                        <input type="checkbox" name="SendingLocalIds" value="@organization.Id" />
                    }
                }
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> @organization.Name
                @if (organization.Children.Any())
                {
                    @ShowTree(organization.Children, userPermissions)
                }
            </li>
        }
    </ul>
}
