
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Amazing Messaging System</h2>
    <p class="lead">
        This Application gives you the ability to send, receive messages from users within your organization, with several
        decent features.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Inbox</h2>
        <p>
            Inbox will contain your all the messages sent to you by other users, and you will be able to send a message to trash
            , forward it to another user or reply to it.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Outbox</h2>
        <p>
            Outbox will contain all the messages that you've sent to other users, you can also delete any of the messages from your
            Outbox.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Trash</h2>
        <p>
           Inbox messages that you delete will be moved to trash, giving you the ability to restore it to the inbox in future, or to 
            delete it permanently. 
        </p>
    </div>
</div>
